/*Stylesheet*/

BODY, HTML {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	color: #333;
}

BODY {}

.content {
	margin: 10px;
}

#header {
	margin: 10px;
	width: 960px;
	display:none;
}