body {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	background-attachment: fixed;
	background-image: url(img/bg.gif);
	background-repeat: repeat;
	text-align: center;
}
.content {
	background-color: #FFF;
	border: 12px solid #111;
	margin-top: 50px;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	-webkit-box-shadow: 0px 3px 32px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 3px 32px rgba(0,0,0,0.6);
	box-shadow: 0px 3px 32px rgba(0,0,0,0.6);
	padding: 50px;
}
.callout {
	background-image: url(img/callout_bg.gif);
	background-repeat: repeat;
	padding: 8px;
	border: solid 1px #EEE;
	color: #000;
}

.news {
	border: solid 1px #BBB;
	padding: 16px;
	-webkit-box-shadow: 1px 1px 4px #DDD;
	-moz-box-shadow: 1px 1px 4px #DDD;
	box-shadow: 1px 1px 4px #DDD;
	margin-bottom: 1.8em;
	background-color: #F0F7FE;
}

.newstitle {
	font-size: 125%;
	line-height: 1.5;
}

a {
	color: #17B;
}
a:hover {
	color: #000;
}
p, ul {
	color: #333;
	text-align: justify;
	line-height: 1.25;
}
ul {
	padding-left: 25px;
}
h1 {
	font-size: 24px;
	font-weight: normal;
	margin-top: 10px;
}
h3 {
	text-align: left;
	margin-bottom: -1em;
	font-size: 14px;
	color: #000;
}
footer p {
	text-align:center;
	margin-bottom:0px;
	font-size: 11px;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
}

strong {
	color: #000;
	font-size: 115%;
}

pre {
	padding: 6px;
	border: solid 1px #FFF0EE;
	text-align: left;
	background-color: #FFFAEA;
	color: #000;
}
