p.active{
	font-weight:bold;
}
.demoWrap{
	background:url(../img/callout_bg.gif);
	border:1px solid #fff;
	border:1px solid #cccccc;
	width: auto;
	height: auto;
	padding: 10px;
	position:relative;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px; line-height:14px;
	z-index:100;
}
