body {
	margin: 0;
	padding: 7px;
	background-color: rgba(255, 255, 255, 0);

	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}

canvas {
	border: solid 1px rgba(0, 0, 0, 0.05);
}